@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: #0B0D0F;
    height: 100vh;
}

main {
    display: none;
}

.loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    width: 50px;
    height: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.app-bar {
    background-color: #0B0D0F;
    width: 100%;
    text-align: center;
    /* box-shadow: 0px 0px 5px rgba(73, 80, 87, .4); */
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.9);
}

.btn-app-bar,
.btn-back-app-bar {
    font-size: 1.3rem;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin: 0px 8px;
}

.content-2 {
    background-color: #1A1D21;
    border: 2px solid #2A2F35;
    color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.word {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    text-align: start;
}

.btn-sound {
    width: 45px; 
    height: 45px; 
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.option-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.alternative-list,
.option-list,
.category-list,
.word-list {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alternative-list {
    display: none;
}

.option-item, .category-item, 
.alternative-item, .btn-show,
.btn-next {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    padding: 12px 0px;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
}

.alternative-item {
    border: 2px solid #2A2F35;
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 10px;
    background-color: #1A1D21;
}

.category-item {
    background-color: #32627c;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.9);
}

.option-item,
.category-item {
    display: block;
    text-decoration: none;
}

.option-item1 {
    background-color: #3B82F6;
    color: rgba(255, 255, 255, 0.9);
}

.option-item2 {
    background-color: #fffffff2;
    color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.btn-next {
    display: none
}

.btn {
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-edit {
    background-color: #1cb0f6;
}

.btn-add {
    background-color: #58cc02;
}

.btn-save {
    background-color: #38b000;
    display: none;
}

.btn-cancel {
    display: none;
}

.btn-remove,
.btn-cancel {
    background-color: #ff4b4b;
}

.btn-show, .btn-next {
    background-color: #3B82F6;
    color: rgba(255, 255, 255, 0.9);
}

.category-edit-item,
.word-edit-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.category-edit-item-content,
.word-edit-item-content {
    background-color: #ff9600;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.317);
    border: 2px solid rgba(0, 0, 0, .1);
    color: #ffff;
    font-weight: 600;
    width: 100%;
}

.form-add-category,
.form-add-word {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.form-add-category input,
.form-add-word input {
    padding: 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.274);
    border-radius: 5px;
    width: 100%;
    font-size: 1.1rem;
}

.form-add-word input,
.name-word-item {
    margin-bottom: 10px;
}

.form-edit-word-item {
    display: none;
}

.name-category-edit {
    font-size: 1.1rem;
    border: 0;
    border-radius: 3px;
    padding: 0px 5px;
    display: none;
}

.placar {
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: bold;
}